.mensurationBox {
	border-top: 2px solid;
	border-bottom: 2px solid;
	padding: 5px; 

}

.mensurationBox > .head3 {
	font-size: 1.2em;
	font-weight: bold;
}

.mensurationBox > .infoBox {
	font-size:1em; 
	padding-top: 10px;
}

.mensurationBox > .infoBox > table {
	width: 100%;
	text-align: right 
}

.mensurationBox > .infoBox > table > td {
	width:50%;
}

.mensurationBox .unitsSelect {
	width:50px;
        float:left;
}

.smaller {
	font-size: smaller
}

.iconBaseTop {
    background: url("../images/BaseTop.png") no-repeat scroll center center transparent;
    height: 32px;
    width: 32px;
}
.iconBaseTopShadow {
    background: url("../images/BaseTopShadow.png") no-repeat scroll center center transparent;
    height: 32px;
    width: 32px;
}
.iconTopTopShadow {
    background: url("../images/TopTopShadow.png") no-repeat scroll center center transparent;
    height: 32px;
    width: 32px;
}
