#chartDialog_underlay {
    visibility: hidden;
}

circle {
    fill : red;
    fill-opacity: 0.7;
}

.claro .dijitTooltip
{
    overflow: hidden;
}

.dijitDialogPaneContent {
  overflow-y:auto;
  height:95%;
}