<div>
    <div class="searchByBoundsInputFormatContainer">
        <input data-dojo-attach-point="searchByBoundsFormatDDRadio" data-dojo-type="dijit/form/RadioButton"
               data-dojo-attach-event="click:decimalDegreeClick"
               checked="true"
               name="searchByBoundsInputFormat"/>
        <span class="searchByBoundsRadioLbl">${nls.dd}</span>
        <input data-dojo-attach-point="searchByBoundsFormatDMSRadio" data-dojo-type="dijit/form/RadioButton"
               data-dojo-attach-event="click:dmsClick"
               name="searchByBoundsInputFormat"/>
        <span class="searchByBoundsRadioLbl">${nls.dms}</span>

        <input data-dojo-attach-point="searchByBoundsFormatUTMRadio" data-dojo-type="dijit/form/RadioButton"
               data-dojo-attach-event="click:utmClick"
               name="searchByBoundsInputFormat"/>
        <span class="searchByBoundsRadioLbl">${nls.utm}</span>
    </div>
    <div class="searchByBoundsContentsContainer">
        <div data-dojo-attach-point="decimalDegreesWidgetContainer"></div>
        <div data-dojo-attach-point="dmsWidgetContainer"></div>
        <div data-dojo-attach-point="utmWidgetContainer"></div>
    </div>
</div>