<div>
    <div class="searchByUTMEntry">
        <div class="searchByBoundsInputUTMLbl">${nls.x} (${nls.easting}):</div>
        <span data-dojo-attach-point="boundsUTMEastingTextbox"
              data-dojo-attach-event="onKeyUp: handleValueChange"
              data-dojo-type="dijit/form/NumberTextBox"
              data-dojo-props="constraints:{pattern:'#'}"
              style="width:${boundsUTMCoordInputWidth}"></span>
    </div>
    <div class="searchByUTMEntry">
        <div class="searchByBoundsInputUTMLbl">${nls.y} (${nls.northing}):</div>
                        <span data-dojo-attach-point="boundsUTMNorthingTextbox"
                              data-dojo-attach-event="onKeyUp: handleValueChange"
                              data-dojo-type="dijit/form/NumberTextBox"
                              data-dojo-props="constraints:{pattern:'#'}"
                              style="width:${boundsUTMCoordInputWidth}"></span>
    </div>
    <div class="searchByUTMEntry">
        <div class="searchByBoundsInputUTMLbl">${nls.zone}:</div>
                                       <select data-dojo-attach-point="boundsUTMZoneSelect"
                                             data-dojo-props="maxHeight:125"
                                             data-dojo-type="dijit/form/Select"
                                             style="width:${boundsUTMZoneSelectWidth}"></select>
    </div>
    <div class="searchByUTMEntry">
        <div class="searchByBoundsInputUTMLbl">${nls.hemisphere}:</div>
        <input data-dojo-attach-point="boundsUTMHemisphereN" data-dojo-type="dijit/form/RadioButton"
               checked="true" name="boundsUTMHemisphereRadio"/>
        <span>${nls.N}</span>
        <input data-dojo-type="dijit/form/RadioButton" data-dojo-attach-point="boundsUTMHemisphereS"
               name="boundsUTMHemisphereRadio"/>
        <span>${nls.S}</span>
    </div>
</div>