<div>
    <div>
        <div class="searchByBoundsHeaderLbl">${nls.lowerLeft}</div>
        <span class="searchByBoundsInputLbl">${nls.x}:</span>
              <span data-dojo-attach-point="boundsLLXInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/NumberTextBox"
                    style="width:${boundsNumberBoxWidth}"
                    data-dojo-props="constraints:{pattern:'##0.#####'}"></span>
        <span class="searchByBoundsInputLbl">${nls.y}:</span>
              <span data-dojo-attach-point="boundsLLYInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/NumberTextBox"
                    style="width:${boundsNumberBoxWidth}"
                    data-dojo-props="constraints:{pattern:'##0.#####'}"></span>
    </div>
    <div>
        <div class="searchByBoundsHeaderLbl">${nls.upperRight}</div>
        <span class="searchByBoundsInputLbl">${nls.x}:</span>
              <span data-dojo-attach-point="boundsURXInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/NumberTextBox"
                    style="width:${boundsNumberBoxWidth}"
                    data-dojo-props="constraints:{pattern:'##0.#####'}"></span>
        <span class="searchByBoundsInputLbl">${nls.y}:</span>
              <span data-dojo-attach-point="boundsURYInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/NumberTextBox"
                    style="width:${boundsNumberBoxWidth}"
                    data-dojo-props="constraints:{pattern:'##0.#####'}"></span>
    </div>
</div>