<div>
    <div>
        <div class="searchByBoundsHeaderLbl">${nls.lowerLeft}</div>
        <span class="searchByBoundsInputDMSLbl">${nls.x}:</span>
               <span data-dojo-attach-point="boundsLLDMSDegXInput"
                     data-dojo-attach-event="onKeyUp: handleValueChange"
                     data-dojo-type="dijit/form/NumberTextBox"
                     style="width:${boundsDMSBoxWidth}"
                     data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>&deg;</span>
               <span data-dojo-attach-point="boundsLLDMSMinXInput"
                     data-dojo-attach-event="onKeyUp: handleValueChange"
                     data-dojo-type="dijit/form/NumberTextBox"
                     style="width:${boundsDMSBoxWidth}"
                     data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>'</span>
                   <span data-dojo-attach-point="boundsLLDMSSecXInput"
                         data-dojo-attach-event="onKeyUp: handleValueChange"
                         data-dojo-type="dijit/form/NumberTextBox"
                         style="width:${boundsDMSBoxWidth}"
                         data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>"</span>

        <span class="searchByBoundsInputDMSLbl">${nls.y}:</span>
                              <span data-dojo-attach-point="boundsLLDMSDegYInput"
                                    data-dojo-attach-event="onKeyUp: handleValueChange"
                                    data-dojo-type="dijit/form/NumberTextBox"
                                    style="width:${boundsDMSBoxWidth}"
                                    data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>&deg;</span>
                              <span data-dojo-attach-point="boundsLLDMSMinYInput"
                                    data-dojo-attach-event="onKeyUp: handleValueChange"
                                    data-dojo-type="dijit/form/NumberTextBox"
                                    style="width:${boundsDMSBoxWidth}"
                                    data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>'</span>
                                  <span data-dojo-attach-point="boundsLLDMSSecYInput"
                                        data-dojo-attach-event="onKeyUp: handleValueChange"
                                        data-dojo-type="dijit/form/NumberTextBox"
                                        style="width:${boundsDMSBoxWidth}"
                                        data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>"</span>
    </div>
    <div>
        <div class="searchByBoundsHeaderLbl">${nls.upperRight}</div>
        <span class="searchByBoundsInputDMSLbl">${nls.x}:</span>
                              <span data-dojo-attach-point="boundsURDMSDegXInput"
                                    data-dojo-attach-event="onKeyUp: handleValueChange"
                                    data-dojo-type="dijit/form/NumberTextBox"
                                    style="width:${boundsDMSBoxWidth}"
                                    data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>&deg;</span>
                              <span data-dojo-attach-point="boundsURDMSMinXInput"
                                    data-dojo-attach-event="onKeyUp: handleValueChange"
                                    data-dojo-type="dijit/form/NumberTextBox"
                                    style="width:${boundsDMSBoxWidth}"
                                    data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>'</span>
                                  <span data-dojo-attach-point="boundsURDMSSecXInput"
                                        data-dojo-attach-event="onKeyUp: handleValueChange"
                                        data-dojo-type="dijit/form/NumberTextBox"
                                        style="width:${boundsDMSBoxWidth}"
                                        data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>"</span>

        <span class="searchByBoundsInputDMSLbl">${nls.y}:</span>
                                             <span data-dojo-attach-point="boundsURDMSDegYInput"
                                                   data-dojo-attach-event="onKeyUp: handleValueChange"
                                                   data-dojo-type="dijit/form/NumberTextBox"
                                                   style="width:${boundsDMSBoxWidth}"
                                                   data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>&deg;</span>
                                             <span data-dojo-attach-point="boundsURDMSMinYInput"
                                                   data-dojo-attach-event="onKeyUp: handleValueChange"
                                                   data-dojo-type="dijit/form/NumberTextBox"
                                                   style="width:${boundsDMSBoxWidth}"
                                                   data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>'</span>
                                                 <span data-dojo-attach-point="boundsURDMSSecYInput"
                                                       data-dojo-attach-event="onKeyUp: handleValueChange"
                                                       data-dojo-type="dijit/form/NumberTextBox"
                                                       style="width:${boundsDMSBoxWidth}"
                                                       data-dojo-props="constraints:{pattern:'#'}"></span>
        <span>"</span>
    </div>
</div>