.reportingUserDrawIconContainer {
    height: 32px;
    width: 32px;
    float: right;
    margin-top: -5px;
}
.pdfExportTitleEntry{
    margin-bottom: 7px;
}
.reportTypeSelect{
  margin-bottom: 10pt;
}