<div class="portalPublisherOuterContainer">
    <div data-dojo-attach-point="loggedOutContent" class="portalPublisherLoggedOutContent">
        <div data-dojo-attach-event="click:logPortalUserIn">
            <i class="fa fa-sign-in"></i>
            <span>${nls.signInToPublishWebmap}</span>
        </div>
    </div>
    <div data-dojo-attach-point="loggedInContent" class="hidden">
        <i data-dojo-attach-point="portalPublisherThrobber"
           class="portalPublisherThrobber fa fa-spinner fa-spin  hidden"></i>

        <div data-dojo-attach-point="portalUploadSuccessContainer" class="portalUploadSuccessContainer">
            <div>
                <i class="fa fa-check"></i>
                <span>${nls.webmapCreationSuccessful}</span>
            </div>
            <div class="portalUploadViewItemLink" data-dojo-attach-event="click:viewWebmap"><i
                    class="fa fa-map-marker"></i>
                <span>${nls.viewYourWebmap}</span>
            </div>
            <div data-dojo-attach-event="click:showInputsContent" class="jimu-btn portalClearPublishSuccessButton">
                    ${nls.done}
            </div>
        </div>
        <div data-dojo-attach-point="portalUploadInputsContainer">
            <div class="portalPublisherContainer" data-dojo-attach-point="portalPublisherContainer">
                <div class="portalUploadFormContainer">
                    <div class="portalUploadNameContainer portalUploadInputContainer">
                        <div class="portalPublisherLabel">${nls.name}:</div>
                        <input data-dojo-type="dijit/form/TextBox" value="" class="portalWebMapPublishTextBox"
                               type="text" data-dojo-attach-point="webMapNameInput"/>
                    </div>
                    <div class="portalUploadFolderContainer portalUploadInputContainer">
                        <div class="portalPublisherLabel">${nls.folder}:</div>
                        <select class="portalUploadFolderSelect" data-dojo-attach-point="portalUploadFolderSelect"
                                data-dojo-type="dijit/form/Select">
                            <option value="">*${nls.root}*</option>
                        </select>
                    </div>
                    <div class="portalUploadTagsContainer portalUploadInputContainer">
                        <div class="portalPublisherLabel">${nls.tags}:</div>
                        <input data-dojo-type="dijit/form/TextBox" value="" class="portalWebMapPublishTextBox"
                               type="text" data-dojo-attach-point="webMapTagsInput"/>
                    </div>
                    <div class="portalUploadDescriptionContainer portalUploadInputContainer">
                        <div class="portalPublisherLabel">${nls.description}:</div>
                        <input data-dojo-type="dijit/form/TextBox" value=""
                               class="portalWebMapPublishTextBox"
                               type="text" data-dojo-attach-point="webMapDescription"/>
                    </div>
                    <div>
                        <div class="portalSaveButton jimu-btn" data-dojo-attach-point="portalSaveButton"
                             data-dojo-attach-event="click:publishWebMap">           ${nls.save}
                        </div>
                    </div>
                </div>
            </div>
            <div class="portalPublishShareContainer hidden" data-dojo-attach-point="portalPublishShareContainer">
                <div class="portalPublishShareWithLabel">${nls.shareWith}:</div>
                <div class="portalPublishShareForm">
                    <div class="publicShareContainer">
                        <input type="checkbox" data-dojo-type="dijit/form/CheckBox"
                               data-dojo-attach-point="shareWithEveryoneCheckbox"/>
                        <span>${nls.everyone} (${nls.public})</span>
                    </div>
                    <div class="groupShareContainer">
                        <input type="checkbox" data-dojo-type="dijit/form/CheckBox"
                               data-dojo-attach-point="shareWithGroupsChecked"/>
                        <span>${nls.theseGroups}:</span>

                        <div class="portalPublishGroupShareListContainer">
                            <ul class="portalGroupShareList" data-dojo-attach-point="portalGroupShareList">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="portalSubmitShareButtonContainer">
                    <button data-dojo-attach-event="click:showPublishInputs"
                            class="portalBackButton">${nls.back}</button>
                    <button data-dojo-attach-event="click:publishWebMap" class="portalPublishButton">
                            ${nls.publish}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
