.jimu-widget-ISScatterplot{}
.jimu-widget-ISScatterplot-setting .color-node{
    width:20px;
    height: 20px;
}
.jimu-widget-ISScatterplot table .first{
    
}
.jimu-widget-ISScatterplot .dijitSelect{
    width:180px;
}