.imageDiscoveryResultEntriesSortContainer {
  .imageDiscoveryResultEntriesSortLabel {
    font-size: 8pt;
  }

  .dijitSelect {
    margin-top: 3px;
    width: 90%;
    background: white;
    margin-left: 10px;
    min-width: 14em;

    .dijitArrowButtonContainer {
      width: 25px;
    }
  }
}
