.imageDiscoveryResultEntriesSortContainer .imageDiscoveryResultEntriesSortLabel {
  font-size: 8pt; }
.imageDiscoveryResultEntriesSortContainer .dijitSelect {
  margin-top: 3px;
  width: 90%;
  background: white;
  margin-left: 10px;
  min-width: 14em; }
  .imageDiscoveryResultEntriesSortContainer .dijitSelect .dijitArrowButtonContainer {
    width: 25px; }
