@import "../../../css/common";

.imagerySearchSourcesWidget {
  padding: 5px;
  @extend %default-border-radius;
  background: #F8F8FF;
  border: 1px solid #DFDFDF;

}

.imagerySearchSourcesListEntry {
  cursor: pointer;
  margin: 5px 0;
  .fa {
    min-width: 15px;
    color: blue;
    &.red{
      color: red;
    }
  }
}


.imagerySearchSourceLabel {
}
