<div class="imageDiscoverySearchFilter">
    <div style="margin: 20px 0;font-weight: bold">iCON ${nls.searchParameters}</div>
    <div class="entriesContainer" style="float: left;width: 48%;margin-right:1%">
        <span class="smallText"><i style="margin-right: 3px" class="icon fa fa-adjust"></i>${nls.imageMode}</span>

        <div data-dojo-attach-point="imageTypeSelectContainer">
        </div>
    </div>
    <div class="entriesContainer" style="float: left;width: 50%">

        <span class="smallText"><i style="margin-right: 3px" class="icon fa fa-arrows-h"></i>${nls.pixelSize}</span>

        <div style="margin-top: 10px" data-dojo-attach-point="pixelSizeContainer"></div>
    </div>
</div>