<div class="imageDiscoverySearchFilter">
    <div class="entriesContainer" data-dojo-attach-point="acquisitionDateFilterContainer">
        <div class="startDateContainer" data-dojo-attach-point="startDateContainer"></div>
        <div class="endDateContainer" data-dojo-attach-point="endDateContainer"></div>
    </div>
    <div class="cloudCoverFilter" data-dojo-attach-point="cloudCoverFilterContainer">
        <span class="smallText">${nls.maxCloudCover}</span>
        <span data-dojo-attach-point="cloudCoverSliderValueContainer"
              class="cloudCoverSliderValueContainer"></span>
        <div class="cloudCoverSliderContainer">
            <div data-dojo-attach-point="cloudCoverSliderContainer"></div>
        </div>
    </div>
</div>