.esriLegendServiceLabel {
    font-size: 14px;
}
.esriLegendLayer{
    font-size: 12px;
}

.LayerSwipe .vertical {
    width: 1px !important;
    z-index: 0; 
}


.LayerSwipe .horizontal {
    height:  1px;
   margin-top: 38px;
}
.LayerSwipe .horizontal .handle {
}