.jimu-widget-Scatterplot{}
.jimu-widget-Scatterplot-setting .color-node{
    width:20px;
    height: 20px;
}
.jimu-widget-Scatterplot table .first{
    
}
.jimu-widget-Scatterplot .dijitSelect{
    width:180px;
}