<div>
    <div class="generateReportSelectContainer">
        <span class="imageExportEntryLbl" style="vertical-align: 5px">${nls.format}:</span>
        <select data-dojo-type="dijit/form/Select" data-dojo-attach-point="reportTypeSelect" class="reportTypeSelect">
            <option value="PDF">PDF</option>
            <option value="HTML">HTML</option>
        </select>
    </div>
    <div class="exportImageEntry hidden" style="height:32px" data-dojo-attach-point="htmlContainer">
        <span class="imageExportEntryLbl">${nls.title}:</span>
        <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="htmlReportTitle" value="${nls.myReport}"/>
    </div>
    <div class="exportImageEntry" data-dojo-attach-point="pdfContainer">
        <div class="pdfExportTitleEntry">
            <span class="imageExportEntryLbl">${nls.title}:</span>
            <input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="pdfTitle" value="${nls.myReport}"/>
        </div>
        <div>
            <span class="imageExportEntryLbl">${nls.layoutTemplate}:</span>
            <select data-dojo-attach-point="pdfTemplateSelect" data-dojo-type="dijit/form/Select">
                <option value="A3 Landscape">A3 ${nls.landscape}</option>
                <option value="A3 Portrait">A3 ${nls.portrait}</option>
                <option value="A4 Landscape">A4 ${nls.landscape}</option>
                <option value="A4 Portrait">A4 ${nls.portrait}</option>
                <option value="Letter ANSI A Landscape">${nls.letter} ANSI A ${nls.landscape}</option>
                <option value="Letter ANSI A Portrait">${nls.letter} ANSI A ${nls.portrait}</option>
                <option value="Tabloid ANSI B Landscape">Tabloid ANSI B ${nls.landscape}</option>
                <option value="Tabloid ANSI B Portrait">Tabloid ANSI B Portrait</option>
            </select>
        </div>
    </div>
    <div class="reportWidgetActionsContainer">
        <div data-dojo-type="dijit/form/Button"
             data-dojo-attach-event="onClick:handleGenerateReport">
            Generate
        </div>
    </div>
</div>