<div class="imageDiscoveryCartCheckoutWidget hidden fadeIn animated">
    <div class="checkoutStatusHeader">
        <i class="fa fa-shopping-cart"></i>
        <span data-dojo-attach-point="checkoutWidgetHeaderText">${nls.reviewAndSubmit}</span>
        <i class="closeIcon fa fa-times" data-dojo-attach-event="click:hide" title="${nls.close}"></i>
    </div>
    <div class="checkoutOuterContainer">
        <div class="checkoutContent">
            <div class="checkoutDownloadRightContainer">
                <div class="checkoutWidgetTabContainer">
                    <div class="checkoutWidgetTabs">
                    <span class="checkoutWidgetTab enabled" data-dojo-attach-point="downloadTab"
                          data-dojo-attach-event="click:showDownloadTab">${nls.downloadImagery}</span>
                    <span class="checkoutWidgetTab" data-dojo-attach-point="webmapTab"
                          data-dojo-attach-event="click:showWebmapTab">${nls.createWebmap}</span>
                            <span class="checkoutWidgetTab" data-dojo-attach-point="csvExportTab"
                                  data-dojo-attach-event="click:showCSVExportTab">${nls.csvExport}</span>
                    </div>
                    <div class="checkoutWidgetTabContentContainer">
                        <div class="checkoutWidgetTabContent hidden" data-dojo-attach-point="reportingTabContent">
                            <div data-dojo-attach-point="reportingWidgetContainer" style="height: 100%">
                            </div>
                        </div>
                        <div class="checkoutWidgetTabContent" data-dojo-attach-point="downloadTabContent">
                            <div data-dojo-attach-point="downloadWidgetContainer" style="height: 100%">
                            </div>
                        </div>
                        <div class="checkoutWidgetTabContent hidden" data-dojo-attach-point="csvExportTabContent">
                            <div data-dojo-attach-point="csvExportWidgetContainer" style="height: 100%">
                            </div>
                        </div>

                        <div class="checkoutWidgetTabContent hidden" data-dojo-attach-point="webmapTabContent">
                            <div data-dojo-attach-point="webmapWidgetContainer" style="height: 100%">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div data-dojo-attach-point="cartItemsCheckoutMessageContainer"
                 class="cartItemsCheckoutMessageContainer">
            </div>
            <div class="checkoutTallyContainer">
                <div class="checkoutTotalItemsContainer">
                    <span>${nls.itemsInCart}:</span>
                    <span data-dojo-attach-point="totalOrderItemsElement"></span>
                </div>
                <ul data-dojo-attach-point="orderItemsContainer" class="orderReviewContainer">
                </ul>
            </div>
        </div>
        <div class="checkoutActionsContainer" data-dojo-attach-point="checkoutActionsContainer">
            <div class="progressBarOuterContainer hidden"
                 data-dojo-attach-point="progressBarOuterContainer">
                <div data-dojo-attach-point="progressBarContainer"></div>
            </div>
            <div class="checkoutActionButtonContainer">
                <div class="jimu-btn checkoutStatusCloseButton hidden"
                     data-dojo-attach-point="checkoutStatusCloseButton"
                     data-dojo-attach-event="click:hide">
                    <i class="fa fa-check"
                       data-dojo-attach-point="checkoutStatusCloseButtonIcon"></i>
                    <span>${nls.close}</span>
                </div>
            </div>
        </div>
    </div>
</div>
